<div class="page page-front">
	{% include directory ~ '/templates/partials/header.html.twig' %}
	<main class="main-content container mx-auto">
		{{ page.content }}
	</main>
	{% include directory ~ '/templates/partials/footer.html.twig' %}
</div>
