<div class="page page-front">
	{% include directory ~ '/templates/partials/header.html.twig' %}
	<section class="bg-blue-100 pt-48 pb-10">
		<div class="max-w-7xl mx-auto">
			<div class="flex justify-between">
				<div class="w-full text-center">
					<h2 class="text-4xl font-bold leading-snug text-blue-900 mb-10">
						<p>
							لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
						</p>
						<p>
							لورم ایپسوم متن ساختگی با
						</p>
					</h2>
					<div class="text-center mb-10 flex items-center justify-center gap-4">
						<a href="#" class="px-10 text-white bg-blue-600 hover:bg-blue-600/90 focus:ring-4 focus:outline-none focus:ring-blue-600/50 font-medium rounded-lg text-xl py-2.5 text-center inline-flex items-center">
							<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 inline-block ml-1" viewbox="0 0 24 24" fill="currentColor">
								<path d="M22 17.0022C21.999 19.8731 19.9816 22.2726 17.2872 22.8616L16.6492 20.9476C17.8532 20.7511 18.8765 20.0171 19.4649 19H17C15.8954 19 15 18.1046 15 17V13C15 11.8954 15.8954 11 17 11H19.9381C19.446 7.05369 16.0796 4 12 4C7.92038 4 4.55399 7.05369 4.06189 11H7C8.10457 11 9 11.8954 9 13V17C9 18.1046 8.10457 19 7 19H4C2.89543 19 2 18.1046 2 17V12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12V12.9987V13V17V17.0013V17.0022ZM20 17V13H17V17H20ZM4 13V17H7V13H4Z"></path>
							</svg>
							تماس با تیم پشتیبانی

						</a>
						<span class="h-10 inline-block w-0.5 bg-zinc-200"></span>
						<span class="text-3xl text-zinc-800 font-medium">
							021-75219219
						</span>
					</div>
					<div class="text-center">
						<img class="img-fluid mx-auto" src="/{{ directory ~ '/assets/images/about.svg' }}" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="relative mx-auto my-10 flex max-w-md flex-col justify-between  px-10 lg:max-w-7xl lg:flex-row">
		<div class="bg-slate-100 absolute left-0 h-full w-full lg:w-5/6 rounded-md border border-blue-200"></div>
		<div class="relative h-72 lg:w-72">
			<div class="bg-slate-50 shadow-slate-200 absolute h-56 w-56 translate-x-6 translate-y-6 rounded-2xl shadow-lg backdrop-blur-lg lg:h-60 lg:w-60"></div>
			<div class="shadow-slate-200 absolute flex h-56 w-56 translate-x-3 translate-y-3 flex-col items-center justify-center rounded-2xl bg-white shadow backdrop-blur-lg lg:h-60 lg:w-60">
				<div class="flex h-40 w-40 flex-col items-center justify-center rounded-full border-2 border-dashed">
					<p class="text-center text-5xl font-bold text-blue-500 lg:text-6xl">57</p>
					<span class="text-center text-xs uppercase leading-4 text-blue-500">
						بیشتر از
						<br/>
						اعتماد مشتریان ما
					</span>
				</div>
			</div>
		</div>
		<div class="relative py-10 ">
			<h2 class="text-slate-900 text-3xl font-bold lg:text-5xl">
				از ابتدا آماده برای فردا
			</h2>
			<p class="text-slate-700 mt-4 max-w-lg">
				صورت رسمی ۳۰ اردیبهشت ۱۳۹۸ به عنوان یک شرکت ثبت شد و کار خود را با ارائه محصول «تسویه حساب به حساب» برای الوپیک شروع کرد. رشد سریع استارت‌آپ‌ها و نیاز به ارائه راهکارهایی همگام با توسعه اینترنت و کسب‌وکارها بر بستر آن، نیاز داشت تا تفکر آینده‌نگر در وندار به عنوان ارزشی اصلی تعریف شود. در ادامه راه وندار محصولاتی مثل «فرم پرداخت»، «تسهیم» و «وب‌سرویس‌ها» با توجه به نیاز مشتریان و هدف حل مشکلات سنتی پرداخت، خلق شدند.
			</p>
		</div>
	</div>
	{# Main Content Section #}
	<main class="main-content flex flex-col justify-center items-center w-full">
		<div class="lg:px-8 mx-auto max-w-7xl ">
			<ul class="flex flex-wrap items-center justify-between">
				<li class="dir-ltr flex w-1/2 flex-col items-center justify-center gap-4 p-3 lg:w-auto lg:p-6">
					<span class="text-4xl font-bold text-main-600 sm:text-7xl">+246</span>
					<span class="text-2xl font-semibold text-slate-600 sm:text-3xl">پذیرنده فعال</span>
				</li>
				<li class="dir-ltr flex w-1/2 flex-col items-center justify-center gap-4 p-3 lg:w-auto lg:p-6">
					<span class="text-4xl font-bold text-main-600 sm:text-7xl">+16000</span>
					<span class="text-2xl font-semibold text-slate-600 sm:text-3xl">تراکنش در روز</span>
				</li>
				<li class="dir-ltr flex w-1/2 flex-col items-center justify-center gap-4 p-3 lg:w-auto lg:p-6">
					<span class="text-4xl font-bold text-main-600 sm:text-7xl">5</span>
					<span class="text-2xl font-semibold text-slate-600 sm:text-3xl">سالهای فعالیت</span>
				</li>
				<li class="dir-ltr flex w-1/2 flex-col items-center justify-center gap-4 p-3 lg:w-auto lg:p-6">
					<span class="text-4xl font-bold text-main-600 sm:text-7xl">10</span>
					<span class="text-2xl font-semibold text-slate-600 sm:text-3xl">همکاران</span>
				</li>
			</ul>
		</div>
		<div class="px-8 py-20 bg-blue-100">
			<div>
				<div class="mx-auto max-w-7xl">
					<h3 class="sm:text-xl xl:text-4xl font-bold text-zinc-800">
						چشم‌انداز و ارزش‌های ما در پاناپال
					</h3>
					<div class="mt-16 grid divide-x-reverse divide-y-reverse divide-blue-700 overflow-hidden  rounded-3xl border text-blue-600 border-zinc-300 sm:grid-cols-2 lg:grid-cols-4  lg:divide-y-0 xl:grid-cols-4">
						<div class="group relative bg-white transition hover:z-[1] hover:shadow-2xl  hover:shadow-gray-600/10">
							<div class="relative space-y-8 py-12 p-8">
								<img src="https://www.svgrepo.com/show/164986/logo.svg" loading="lazy" width="200" height="200" class="w-12 h-12 rounded-full" style="color:transparent">
								<div class="space-y-2">
									<h5 class="text-2xl font-semibold text-zinc-700 transition group-hover:text-secondary">
										مشتری مداری
									</h5>
									<p class="text-zinc-500">
										لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
									</p>
								</div>
							</div>
						</div>
						<div class="group relative bg-white transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
							<div class="relative space-y-8 py-12 p-8">
								<img src="https://www.svgrepo.com/show/120853/logo.svg" loading="lazy" width="200" height="200" class="w-12 h-12 rounded-full" style="color:transparent">
								<div class="space-y-2">
									<h5 class="text-2xl font-semibold text-zinc-700 transition group-hover:text-secondary">
										نوآوری
									</h5>
									<p class="text-zinc-500">
										لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
									</p>
								</div>
							</div>
						</div>
						<div class="group relative bg-white transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
							<div class="relative space-y-8 py-12 p-8">
								<img src="https://www.svgrepo.com/show/120852/logo.svg" loading="lazy" width="200" height="200" class="w-12 h-12 rounded-full" style="color:transparent">
								<div class="space-y-2">
									<h5 class="text-2xl font-semibold text-zinc-700 transition group-hover:text-secondary">
										سرعت
									</h5>
									<p class="text-zinc-500">
										لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و
									</p>
								</div>
							</div>
						</div>
						<div class="group relative bg-white transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
							<div class="relative space-y-8 py-12 p-8">
								<img src="https://www.svgrepo.com/show/120850/logo.svg" loading="lazy" width="200" height="200" class="w-12 h-12 rounded-full" style="color:transparent">
								<div class="space-y-2">
									<h5 class="text-2xl font-semibold text-zinc-700 transition group-hover:text-secondary">
										امنیت
									</h5>
									<p class="text-zinc-500">
										لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	{% include directory ~ '/templates/partials/footer.html.twig' %}
</div>
