<div class="mx-auto flex h-screen max-w-lg flex-col md:max-w-none md:flex-row md:pr-10 {{ container }}">
	<div class="max-w-md rounded-3xl bg-gradient-to-t from-blue-700 via-blue-700 to-blue-600 px-4 py-10 text-white sm:px-10 md:m-6 md:mr-8">
		<p class="mb-20 font-bold tracking-wider">
			<a href="{{ front_page }}">
				<svg xmlns="http://www.w3.org/2000/svg" class="inline w-4 h-4 mx-1" viewbox="0 0 24 24" fill="currentColor">
					<path d="M1.99974 13.0001L1.9996 11.0002L18.1715 11.0002L14.2218 7.05044L15.636 5.63623L22 12.0002L15.636 18.3642L14.2218 16.9499L18.1716 13.0002L1.99974 13.0001Z"></path>
				</svg>
				بازگشت به صفحه اصلی
			</a>
		</p>
		<p class="mb-4 text-3xl font-bold md:text-4xl md:leading-snug">
			شروع سفر خود را با پاناپال تجربه کنید
		</p>
		<p class="mb-28 leading-relaxed text-gray-200">
			به پاناپال خوش آمدید! ما در کنار شما هستیم تا بهترین خدمات و راه‌حل‌های نوآورانه را برای رشد و موفقیت شما ارائه دهیم. با ورود به حساب کاربری خود، به امکانات اختصاصی و محتوای ویژه دسترسی پیدا کنید.
		</p>
		<div class="bg-blue-600/80 rounded-2xl px-4 py-8">
			<p class="mb-3 text-gray-200">
				"هر قدم کوچک می‌تواند به تحولی بزرگ در زندگی شما منجر شود."
			</p>
			<div class="">
				<div class="flex items-center">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" viewbox="0 0 24 24" fill="currentColor">
						<path d="M12 6V21H10V16C6.68629 16 4 13.3137 4 10C4 6.68629 6.68629 4 10 4H20V6H17V21H15V6H12ZM10 6C7.79086 6 6 7.79086 6 10C6 12.2091 7.79086 14 10 14V6Z"></path>
					</svg>
					<p class="mr-4 w-56">
						<strong class="block font-medium">
							سایمون لوئیس
						</strong>
						<span class="text-xs text-gray-200">
							سال طراحی وبسایت 2025
						</span>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="px-4 py-20">
		<h2 class="mb-2 text-3xl font-bold">
			ورود به حساب کاربری
		</h2>
		<p class="mb-10 block font-bold text-gray-600">
			لطفا اطلاعات کاربری خود را وارد نمایید

		</p>
		{{ page.content }}
	</div>
</div>
